<div class="container" *ngIf="listing">
  <div class="row">
    <div class="col-md-4">
      <img [src]="listing.id | toListingImage" style="width:100%">
    </div>

    <div class="col-md-8">
      <div class="d-flex justify-content-between">
        <div>
          <h1 id="listingName">{{listing.name}}</h1>
        </div>
        <div>
          <h1 id="listingPrice">{{listing.price | price}}</h1>
        </div>
      </div>
      <div>
        <span class="badge bg-primary me-2" *ngFor="let tag of listing.tags">{{tag}}</span>
      </div>
      <div>
        <p id="listingDescription">{{listing.description}}</p>
      </div>
    </div>

  </div>
</div>
