<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> IC Reuse </a>
    <!-- Using angulars "async" pipe, we can subscribe to observables in our template
         In this case, we're subscribing to this components "username$" observable,
         and calling the output "username". We then display anything inside the "<ng-container>"
         element.

         The "else" condition here handles the case where "username" is null. 
         When "username" is null, instead of rendering anything inside this "<ng-container>"
         element, we render the element labelled as "loginBtn" (defined elsewhere)
     -->
    <ng-container *ngIf="loginDetails$ | async as loginDetails; else loginBtn">
      <div>
        <a class="btn btn-outline-primary me-2" [routerLink]="['listings', 'add']">Add Listing</a>
        <a class="btn btn-outline-primary me-2">{{ loginDetails.username }}</a>
        <a class="btn btn-outline-primary me-2" *ngIf="loginDetails.isAdmin" [routerLink]="['/admin', 'users']">Users</a>
        <a class="btn btn-outline-primary" (click)="logout()">Logout</a>
      </div>
    </ng-container>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- This part of the template will only be rendered conditionally! Note how our content is inside an "<ng-template>" element -->
<ng-template #loginBtn>
  <a class="btn btn-outline-primary" [routerLink]="['login']">Login</a>
</ng-template>

<app-alert></app-alert>