<form class="input-group mb-3" (submit)="search()">
  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="queryTerm" [ngModelOptions]="{standalone: true}">
  <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>

<table class="table table-striped" *ngIf="listings">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tags</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listing of listings.results; let idx = index">
      <td scope="row">{{ idx + 1 }}</td>
      <td>
        <a [routerLink]="['/listings', listing.id]">{{ listing.name }}</a>
      </td>
      <td>{{ listing.tags }}</td>
      <td>{{ listing.price | price }}</td>
    </tr>
  </tbody>
</table>
